@model ColeccionCantaros.Models.Cantaro

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cantaro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroFicha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFicha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comprado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comprado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtrosDatos1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtrosDatos1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtrosDatos2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtrosDatos2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiametroBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiametroBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiametroBoca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiametroBoca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CircunferenciaMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CircunferenciaMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoCuello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoCuello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoAsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoAsa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoPitorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoPitorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaCuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaCuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaCuello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaCuello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaBoca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaBoca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaLabio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaLabio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaPitorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPitorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaParedes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaParedes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaTextura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaTextura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaNace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaNace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaArranque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaArranque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaFinInferior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaFinInferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaPegado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaPegado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tapadera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tapadera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapaderaDiametro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapaderaDiametro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapaderaAltura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapaderaAltura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapaderaForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapaderaForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vidriado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vidriado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decoración)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decoración)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComentarioPieza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentarioPieza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlfareroId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlfareroId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
