@model ColeccionCantaros.Models.Cantaro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cantaro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePieza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePieza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiamBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiamBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiamBoca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiamBoca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CircMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CircMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongCuello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongCuello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongAsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongAsa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnchoAsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnchoAsa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongPitorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongPitorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaCuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaCuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaNace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaNace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaArranque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaArranque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaInferior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaInferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaPegado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaPegado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsaForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsaForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pitorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pitorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paredes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paredes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Textura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Textura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vidriado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vidriado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tapadera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tapadera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlfareroId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlfareroId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
